@import url("https://use.typekit.net/kui4ifx.css");
$txtcolor : #1f0000;
$btncolor : #ff614c;
$scbtncolor: #ff806c;
$boxshadow: 0 0 20px rgba(249, 97, 76, .5);
@mixin positions($top: null, $right: null, $bottom:null, $left:null){
	@if ($top){
		top: $top;
	}
	@if ($right){
		right: $right;
	}
	@if ($bottom){
		bottom: $bottom;
	}
	@if ($left){
		left: $left;
	}
}
@mixin transform($transform) {
    -webkit-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}
@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin animation($str) {
	animation: #{$str};
  }
@include keyframes(alert){
    from{
        opacity: 1;
    }
    95%{
        opacity:1;
    }
    100%{
        opacity: 0;
    }
}

div, a, textarea, input, select, img{
    box-sizing: border-box;
}
html, body {
    background: #000;
    width:100%;
    height:100%;
    font-family: "trade-gothic-next", "sans-serif";
}


.screen {
    position: relative;
    background :#fff;
    color: #1f0000;
    width:412px;
    max-width:100%;
    height:100vh;
    max-height: 847px;
    margin:0 auto;
    overflow: hidden;
    contain: paint;

    .topbar {
        position: absolute;
        @include positions(0,0);
        height: 24px;
        width:100%;
        background: rgba(255, 97, 76, .7);
    }
    
    .notification{
        transition: .3s;
        position:fixed;
        top:50%;
        left:50%;
        @include transform(translateX(-50%) translateY(-50%));
        font: {
            size: 14px;
            weight: 700;
        }
        color: #fff;
        padding:6px 16px;
        background: $btncolor;
        border-radius: 20px;
    }
    .mainbg {
        transition: .4s;
        position: absolute;
        @include positions(0,0);
        width:100%;
        height:100vh;
        background: #fff2eb;
        .bg{
            position: absolute;
            @include positions(0,0);
            width:400%;
        }
        .newRequest {
            transition: .2s;
            position:absolute;
            @include positions(0, 0);
            width:100%;
            height:100vh;
            max-height: 847px;
            background:#fff5f2;
            line-height:1.6;
            text-align: center;
            .topbar {
                position: absolute;
                @include positions(0,0);
                height: 24px;
                width:100%;
                background: rgba(255, 97, 76, .2);
            }
            .mainContent{
                width:calc(100% - 32px);
                height: 100vh;
                margin:0 auto;
                padding-top: calc(56px + 10vh);
                .profilePic {
                    width: 100px;
                    margin: 30px auto;
                }
                .userName {
                    font: {
                        size: 18px;
                        weight: 700;
                    }
                    margin-bottom: 15px;
                }
                .commonGr {
                    font: {
                        size: 14px;
                    }
                    opacity: .7;
                    margin-bottom: 30px;
                }
                .message{
                    font-size: 14px;
                }
            }
            .btnwrapper {
                width:100%;
                position: absolute;
                @include positions(null,50%,32px);
                @include transform(translateX(50%));
            }

           
        }
        .msgWrap{
            position:absolute;
            @include positions(0,0);
            width: 100%;
            height: 100vh;
        }
        .lvMsg{
            transition: .4s;
            position: absolute;
            @include positions(null,0 ,0);
            width:100%;
            height:40vh;
            background:#fff;
            border: {
                top: {
                    right-radius: 32px;
                    left-radius: 32px;
                }
            };
            box-shadow: $boxshadow;

            textarea{
                font: {
                    size: 14px;
                }
                width:100%;
                height: calc(40vh - 122px);
                margin: 30px auto;
                padding: 16px 32px;
                border: none;
                &:focus{
                    border:none;
                    outline: none;
                }
            }
            .btnwrapper {
                position: absolute;
                width: auto;
                @include positions(null,56px,32px);
            }
        }
    
    }

    .msg {
        transition: .3s;
        position:absolute;
        @include positions(0, 0);
        width:100%;
        height:100vh;
        max-height: 847px;
        background:#fff;
        text-align: center;
        .header{
            background: rgba(255,255,255,.8);
            z-index: 999;
            position:relative;
            width: 100%;
            padding: 16px 16px;
            margin: 24px auto;
            display:flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: .5px solid rgba(0,0,0,0.2);
            .xmark {
                position: inherit;
                @include positions(0, 0, 0, 0)
            }
            .msgName{
                position: inherit;
                display:flex;
                align-items: center;
                font: {
                    size: 16px;
                    weight: 700;
                }
                img{
                    width: 32px;
                    margin-right: 5px;
                }
            }
        }
        .msgMain{
            font: {
                size: 14px;
            }
            position: relative;
            width: 100%;
            text-align: right;
            display: flex;
            flex-direction: column;
            padding:0 16px 16px;
            .msgRow{
                cursor: pointer;
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                padding-bottom:16px;
                div{
                    width:auto;
                    background: rgba(0, 0,0,0.1);
                    border-radius: 20px;
                    padding: 10px 16px;
                }
                &.others{
                    flex-direction: row;
                    div{
                    background: #fff;
                    border: 1px solid rgba(0, 0,0,0.1);
                }
                }
            }
        }
        .msgtype{
            display: flex;
            align-items: center;
            width:100%;
            font: {
                size: 18px;
            }
            padding: 16px;
            position: absolute;
            @include positions(null,null ,0, 0 );
            img {
                width: 24px;
                margin: 0 16px 0 4px;
                opacity: .5;

            }
            
            input {
                padding: 8px 15px; 
                border-radius: 40px;
                border: 1px solid rgba(0, 0,0,0.2);
                margin: 0 16px 0 4px;
                width: calc(100% - 160px);
                background:#fff2eb;
                color: $txtcolor;
                font: {
                    size:14px;
                }
                &:focus{
                    outline:none;
                }
            }
            .sendbtn{
                background: $btncolor;
                width: 30px;
                height:30px;
                padding: 4px;
                border-radius: 20px;
                fill: none;
                stroke-width: 2px;
                stroke: #fff;
                cursor: pointer;
            }

        }
    }
    .setting{
        text-align: center;
        position: relative;
        height:100vh;
        top:0;
        padding: 0 16px;
        margin-top:24px;
        overflow-x:hidden;
        overflow-y:scroll;
        &::-webkit-scrollbar {
            display:none;
          }
        .header{
            img{
                width: 28px;
                cursor: pointer;
                transition: .3s;
            }
            text-align: right;
            padding-top: 16px;
            margin-bottom: 10vh;
        }
        .profile{
            margin-bottom: 10vh;
            img{
                width: 100px;
            }
        }
        .option{
            padding: 20px 16px;
            display:flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 1.5;
            &.schoolop{
                flex-direction: column;
                text-align: left;
                width:calc(100% + 32px);
                .title{
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                }
                .location{
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    padding: 12px 0;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    .major{
                        
                        opacity: .7;
                        font-size: 13px;
                    }
                    .period{
                        padding-right: 32px;
                    }
                    .smaller{
                        font-size: 12px;
                    }
                    &.newline{
                        cursor: pointer;
                        border-bottom: none;
                        justify-content: left;
                        align-items: center;
                        font-weight: 700;
                        svg{
                            stroke-linecap: round;
                            stroke-width: 2px;
                            stroke: $txtcolor;
                            margin-right: 16px;
                        }
                        
                    }
                }
                
            }
            .title{
                font-size: 16px;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 36px;
                height: 16px;
                @include transform(translateY(6px));
              }
              /* Hide default HTML checkbox */
              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }
              /* The slider */
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ddd;
                -webkit-transition: .4s;
                transition: .4s;
              }
              .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: -3px;
                bottom: -5px;
                background-color: #ffbea9;
                -webkit-transition: .4s;
                transition: .4s;
              }
              input:checked + .slider {
                background-color: $btncolor;
              }
              input:focus + .slider {
                box-shadow: 0 0 1px $btncolor;
              }
              input:checked + .slider:before {
                @include transform(translateX(20px));
                
              }
              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }
              .slider.round:before {
                border-radius: 50%;
              }
        }
    }
    .msgList{
        transition: .3s;
        position: absolute;
        @include positions(null,0 ,0 );
        height: calc(100% - 78px);
        width:100%;
        background: #fff;
        box-shadow: $boxshadow;
        border-top: {
            left-radius: 32px;
            right-radius: 32px;
        }
        .header{
            display:flex;
            flex-direction: row;
            padding-left: 16px;
            .topbtn{
                transition: .2s;
                cursor: pointer;
                letter-spacing: .2px;
                text-align: center;
                padding: 22px 4px 12px;
                text-transform: uppercase;
                margin:0 10px;
                color: #ccc;
                font: {
                    size: 14px;
                    weight: 700;
                }
                &.active{
                    color: $btncolor;
                    // &::after{
                    //     transition: .3s;
                    //     content:" ";
                    //     display: block;
                    //     margin-top: 6px;
                    //     width: calc(100% + 8px);
                    //     @include transform( translateX(-4px));
                    //     border-bottom: 4px solid #ff614c;
                    // }
                }
            }
            .headerBar{
                height:4px;
                transition: .2s;
                background: $btncolor;
                position: absolute;
                top: 46px;
            }
        }
        .msgwrapper{
            margin: 0;
            .msgRow{
                transition: .4s;
                line-height: 1.6;
                padding: 10px 16px;
                display:flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2px;

                &.mentee{
                    background: rgba(255, 190, 169, 0.2);
                    &.newrq{
                        flex-direction: column;
                        align-items: center;
                        padding: 16px 0;
                        width: 100%;
                        text-align: center;
                        font: {
                            size: 16px;
                            weight: 700;
                        }
                        
                    }
                }
                img{
                    width: 46px;
                }
                .msgName{
                    
                    width: calc(100% - 172px);
                    font-size: 16px;
                    .lstMgs{
                        font-size: 14px;
                        opacity: .6;
                    }
                }
                .msgDate{
                    height: 47px;
                    opacity: .5;
                    text-align: right;
                    font-size: 12px;
                    width: 80px;
                }
            }
        }
        
    }
    .newMentor{
            position:absolute;
            @include positions(0, 0);
            width:100%;
            height:100vh;
            max-height: 847px;
            background:#fff5f2;
            line-height:1.6;
            text-align: center;

            .mainContent{
                width:calc(100% - 32px);
                height: 100vh;
                margin:0 auto;
                padding-top: calc(56px + 10vh);
                .title{
                    font: {
                        size: 16px;
                        weight: 400;
                    }
                    margin-bottom: 60px;
                }
                .label{
                    span{
                        font: {
                            size:14px;
                            weight: 400;
                        }
                    }
                    #school{
                        display:block;
                        width: calc(100% - 32px);
                    }
                    margin-bottom: 30px;
                }
               
                select{
                    &#degree{
                        width: 86px;
                        margin: 0 10px;
                    }
                    font: {
                        size: 14px;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .school{
                    &#autocomplete{
                        font-size:14px;
                        width: 100%;
                        margin: 50px auto;
                        
                      }
                      
                      #auto-result {
                          text-align:left;
                          position: absolute;
                        display: none;
                        width: calc(100% - 74px);
                        overflow:hidden;
                        margin-top: -12px;
                        color: #1f0000;
                        border: 1px solid rgba(0, 0,0,0.1);
                        background: #ffdfdb;
                        border-bottom: {
                            right-radius: 6px;
                            left-radius: 6px;
                        }
                        li {
                          padding: 10px 0px;
                          list-style: none;
                          &:hover {
                          
                          }
                          .add{
                              opacity: .6;
                              font-size: 12px;
                              margin-left: 5px;
                          }
                        }
                      }
                }
                input{
                    margin: 10px auto;
                    border-radius: 6px;
                    border: 1px solid rgba(0, 0,0,0.1);
                    padding: 8px 15px; 
                    font: {
                        size:14px;
                        
                    }
                    &:focus{
                        outline:none;
                    }
                    
                }
            }
            .btnwrapper {
                width:100%;
                position: absolute;
                @include positions(null,50%,32px);
                @include transform(translateX(50%));
            }
    }
    .xmark{
        position:absolute;
        @include positions( 56px,32px);
        opacity: .8;
        svg{
            path{
                stroke:#1f0000;
                stroke-width: 3px;
            }
        }
        cursor: pointer;
    }

    .title {
        font: {
            size: 20px;
            weight: 700;
        }
        
    }
    .bold{
        font-weight: 700;
    }
    .btn{
        display:inline-block;
        margin-top: 16px;
        padding: 10px 20px;
        border-radius: 40px;
        letter-spacing: .5px;
        box-shadow: 0 4px 4px rgba(249, 97, 76, 0.4);
        cursor: pointer;
        font: {
            weight: 700;
            size: 14px;
        }
        text-transform: uppercase;
        &.colr{
        background: #ff614c;
        color: #fff; 
        }
        &.emp {
            color: #ff614c;
            box-shadow: none;
        }
        &.outline{
            border: 2px solid #ff614c;
            color: $btncolor;
        }
    }
    .mentbtn{
        cursor: pointer;
        position:fixed;
        right:32px;
        bottom:32px;
        background: $btncolor;
        box-shadow: 0 10px 15px rgba(255,97,76,.6);
        width: 56px;
        height: 56px;
        border-radius: 28px;
        text-align: center;
        img{
            width: 30px;
            padding-top:11px;
        }
    }
}
.onboard{
    transition: .3s;
    background:#fff2eb;
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    @include positions(0,null,null,0);
    img{
        position: absolute;
        width: 400%;
        transition: .3s;
    }
    .messages{
        transition: .3s;
        position: absolute;
        width: 400%;
        display: flex;
        flex-direction: row;
        align-items:center;
        line-height: 1.5;
        @include positions(0,null,null,0);
        .message{
            width: 25%;
            color:#fff;
            padding: 0 16px;
            font: {
                size: 16px;
            }
            .infographic{
                width: calc(100% + 32px);
                height:59vh;
                overflow-x :hidden;
                position: relative;
                @include transform(translateX(-16px));
                &.main{
                    height: 200px;
                }
                &.second{
                    height: 100px;
                }
                img{
                    &#mainLogo{
                        width: 80%;
                        height: 130px;
                        position:absolute;
                        top: 70px;
                        left: 50%;
                        @include transform(translateX(-52%));
                    }
                    &#bg1{
                        position: absolute;
                        width:660px;
                        left: -50px;
                        @include transform(rotate(10deg));
                    }
                }
            }
            .title{
                max-width:300px;
                font: {
                    weight:700;
                }
            }
            &.first{
                .title{
                    width:100%;
                    margin:0 auto;
                    text-align: center;
                    font: {
                        weight: 300;
                    }
                }
            }
            .descrip{
                max-width:300px;
                margin-top: 10px;
            }

            .signupwrap{
                height: 300px;
                width:300%;
                display: flex;
                align-items: center;
                height: 100vh;
                max-height: 847px;
            }
        .signup{
            width:33.3%;
            padding: 21vh 16px 0;
            transition: .3s;
            position: relative;
            height: 100%;
            
            #letstart{
                width: 100%;
                margin: 0 auto;
                position: absolute;
            }
            &.anim{
                position: absolute;
                top:50%;
                left:100%;
            }
            .title, .discrip{
                width: 100%;
                margin:0 auto;
                text-align: center;
                font: {
                    size: 18px;
                    weight: 400;
                }
                color: $txtcolor;
            }
            .discrip{
                margin-bottom: 26px;
                font: {
                    size: 16px;
                    weight: 700;
                }
            }
            input{
                margin: 10px auto;
                border-radius: 6px;
                width: 100%;
                border: 1px solid rgba(0, 0,0,0.1);
                padding: 8px 15px; 
                font: {
                    size:14px;
                }
                &:focus{
                    outline:none;
                }
            }
            select{
                    height: 34px;
                    width: calc(100% - 32px);
                    margin: 30px 10px;

                font: {
                    size: 14px;
                }
                &:focus{
                    outline:none;
                }
            }
            .btnwrapper{
                position: absolute;
                @include positions(null,0,32px);
                width: 100%;
                padding:0 16px;
                .btn{
                    margin: 0 16px;
                    &.emp{
                        padding: {
                            right: 10px;
                            left: 0;
                        }
                    }
                }
                &.type{
                    justify-content: center;
                }
                &.select{
                    justify-content: flex-end;
                    padding: 0 16px;
                    .btn{
                        margin: 0 8px;
                    }
                }
            }
            #degree{
                width: 84px;
                display:inline-block;
                margin: 0;
            }
            #month, #year{
                width: 84px;
                display:inline-block;
                margin: 0 10px;
            }
            .schoolop{
                color: $txtcolor;
                flex-direction: column;
                text-align: left;
                width:calc(100% + 32px);
                .title{
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                }
                .location{
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    padding: 12px 0;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    .major{
                        
                        opacity: .7;
                        font-size: 13px;
                    }
                    .period{
                        padding-right: 32px;
                    }
                    .smaller{
                        font-size: 12px;
                    }
                    &.newline{
                        border-bottom: none;
                        justify-content: left;
                        align-items: center;
                        font-weight: 700;
                        cursor: pointer;
                        svg{
                            stroke-linecap: round;
                            stroke-width: 2px;
                            stroke: $txtcolor;
                            margin-right: 16px;
                        }
                        
                    }
                }
                
            }  
            .msgwrapper{
                margin: 0;
                .msgRow{
                    cursor: pointer;
                    background: #fff;
                    color: $txtcolor;
                    transition: .4s;
                    line-height: 1.6;
                    padding: 10px 16px;
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 6px;
                    border-radius: 6px;
                    box-shadow: 0 2px 4px rgba(249, 97, 76, 0.4);
    
                    &.mentee{
                        background: rgba(255, 190, 169, 0.2);
                    
                    }
                    .imgwrap{
                        width: 46px;
                        height: 46px;
                    img{
                        display: inline-block;
                        width: 46px;
                    }
                }
                    .msgName{
                        position: relative;
                        width: calc(100% - 56px);
                        font-size: 16px;
                        .lstMgs{
                            font-size: 12px;
                            opacity: .6;
                        }
                    }
                    .msgDate{
                        position: absolute;
                        @include positions(0,0);
                        height: 47px;
                        opacity: .5;
                        text-align: right;
                        font-size: 12px;
                        width: 120px;
                    }
                }
            }
        }

        .login{
            .infographic{
                height: 120px;
                img{
                    width: 100%;
                    padding: 0 16px;
                }
            }
            width: 100%;
            input{
                margin: 10px auto;
                border-radius: 6px;
                width: 100%;
                border: 1px solid rgba(0, 0,0,0.1);
                padding: 8px 15px; 
                font: {
                    size:14px;
                }
                &:focus{
                    outline:none;
                }
            }
            .title{
                width: 400%;
                margin-bottom: 30px;
                font: {
                    size: 20px;
                    weight: 300;
                }
                text-align: center;
                color: $txtcolor;
                opacity: .7;
            }
        }
        }
    }
    .gotit{
        position:fixed;
        transition: .3s;
        color: #fff;
        background: $btncolor;
        @include positions(null, 50%, 32px);
        @include transform(translateX(50%));

        
    }
    .btnwrapper{
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        @include positions(null,0,16px);
        .btn{
            position: relative;
        }
    }
    .footBar{
        width: 100%;
        position: fixed;
        @include positions(null, 0, 0);
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0 16px 32px;
        
        .sliders{
            display: flex;
            margin: 0 auto;
            width: auto;
            justify-content: center;
            align-items: center;
            .dot{
                width: 10px;
                height: 10px;
                background:#fff;
                border-radius: 10px;
                margin: 0 5px;
                opacity: .6;

                &.active{
                    opacity: 1;
                }
            }
        }
        .nextArrow{
           
            stroke: #fff;
            stroke: {
                width: 2px;
                linecap: round;
            }
        }
    
    }
}
.newRequest.mentor{
    position:fixed;
    left:0;
    top:0;
    transition: .2s;
    @include positions(0, 0);
    width:100%;
    height:100vh;
    max-height: 847px;
    background:#fff5f2;
    line-height:1.6;
    text-align: center;
    color: $txtcolor;
    .msg{
        img{
            position: relative;
        }
        input{
            width: calc(100% - 130px);
        }
    }
    .mainContent{
        width:100%;
        height: 100vh;
        margin:0 auto;
        padding-top: calc(56px + 10vh);
        
        .profilePic {
            margin: 20px auto;
            width: 100px;
            height:100px;
            img{
                width:100px;
                margin:0;
                transform:none;
                position: relative;
            }
        }
        .userName {
            font: {
                size: 18px;
                weight: 700;
            }
            margin-bottom: 15px;
        }
        .commonGr {
            font: {
                size: 14px;
            }
            opacity: .7;
            margin-bottom: 30px;
        }
        .messageCon{
            padding: 0 16px;
            font-size: 14px;
        }
    }
            .btnwrapper {
                text-align: center;
                width:100%;
                position: fixed;
                @include positions(null,50%,32px);
                @include transform(translateX(50%));
            .btn{
                margin: 0 auto;
            }
            }
}
.addSchool{
    background: #fff2eb;
    width: 300%;
    height: 100vh;
    max-height: 847px;
    position: fixed;
    transition: .3s;
    @include positions(0,null ,null,0 );
    .addSchoolWrap{
        transition: .3s;
        display: flex;
        align-items: center;
        height: 100vh;
        max-height: 847px;
        position: relative;
        left:0;
    }
    .xmark{
        cursor: pointer;
        position:fixed;
        @include positions( 56px, null,null,calc(33.3% - 48px));
        opacity: .8;
        svg{
            path{
                stroke:#1f0000;
                stroke-width: 3px;
            }
        }
        cursor: pointer;
    }
}
.instruction{
    min-width: 120px;
    text-align: center;
    width:auto;
    transition: .3s;
    line-height:1.6;
    position:fixed;
    top:50%;
    left:50%;
    @include transform(translateX(-50%) translateY(-50%));
    font: {
        size: 14px;
        weight: 700;
    }
    color: #fff;
    padding:6px 16px;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
}